
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'S-CoreDream-3Light';
}

.comment {
    border-top:dotted 1px #ddd;
    font-size:0.7em;
}

.adjusted-image {
    max-width: 100%;
    height: auto;
    border: 5px solid green;
    
}

.column-divider {
    border-top: 2px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
}


