<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container" >
        <style>
            .container {
                margin-top: 0;
                margin-bottom: 0;
            }
        </style>
        <a class="navbar-brand font-weight-bold" href="{% url 'home' %}" style="font-size: 36px;">Code log</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{% url 'home' %}" style="font-size: 22px;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{% url 'cal:calendar' %}" style="font-size: 22px;">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#portfolio" style="font-size: 22px;">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/2hey9/playdata-django">
                        <img src="/static/icon/kindpng_1280357.png" alt="GitHub" style="max-width: 100%; max-height: 100%; width: 103.68px; height: 24.8184px;">                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    @font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'S-CoreDream-3Light';
}
</style>
